.topnav{
    margin-top:0%;
    height: 75px;
    background-color: gray;
    vertical-align:middle;
}

.left{
    margin-left:0%;
}

ul {
    display: block;
    list-style-type: none;
    
    height: 100%;
}

li {
    display: inline;
    vertical-align: middle;
    color: white;
    margin-left: 0%;
    padding:5px;
}

.centerimg{
    display: block;
    margin: auto;
    text-align:center;
}

.centertext{
    text-align: center;
}

.center{
    margin: auto;
    width: 50%;
}

.search input[type=text]{
    display:block;
    margin:auto;
    margin-top: 10px;
    width:700px;
    position: relative;
    font-size: 17px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(150,150,150);
    border-radius: 25%;
}